
.confirmation-congrats-para {
  padding: 0.75em 1em;
  margin-top: 20px;
  background-color: #ecffd8;
  font-weight: 400;
  font-size: 1.125rem;
  border-radius: 20px;
  text-align: center;
}

.confirmation-booking-summary {
  color: #555;
  margin-top: 20px;
  padding: 16px;
  background-color: #f0f0f0;
  border-radius: 10px;
  font-size: 0.95rem;
  line-height: 1.4;
}

.hotelDetails {
  background-color: var(--grey-8);
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
}

.nameDateDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.notes{
  padding-top: 60px;
  background-color: var(--grey-8);
  
}

@media (min-width: 375px) {
  .nameDateDetails {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .confirmation-congrats-para {
    font-size: 1.25rem;
  }
  
  .confirmation-booking-summary {
    font-size: 1rem;
  }
}
