.confirmation-congrats-para {
  padding: 0.75em 1em;
  background-color: #ecffd8;
  font-weight: 400;
  font-size: 1.125rem;
  border-radius: 10px;
  text-align: left;
}

.confirmation-booking-summary {
  margin-top: 20px;
  border-radius: 10px;
  font-size: 0.95rem;
  line-height: 1.4;
}

.hotelDetails {
  background-color: var(--grey-8);
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
}

.hotelDetails p {
  color: var(--grey-4);
}

.nameDateDetails {
  display: flex;
  flex-direction: column;
}

.nameDateDetails p {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--grey-7);
  padding-top: 1rem;
}
