main {
  padding: 0 1em 0 0.938em;
  height: 73dvh;
}
.confirmation-congrats-para {
  padding: 0.75em 1em 0.75em 1em;
  margin-bottom: 1.25em;
  background-color: #ecffd8;
  font-weight: 400;
  font-size: 1.25rem;
}

.confirmation-booking-summary {
  color: var(--grey-4);
}
