:root {
  --primary-color: #bbfe71;
  --secondary-color: #0b4fb3;
  /* neutrals */
  --grey-1: #1a1a1a;
  --grey-2: #2e2e2e;
  --grey-3: #4a4a4a;
  --grey-4: #6e6e6e;
  --grey-5: #9a9a9a;
  --grey-6: #c1c1c1;
  --grey-7: #e0e0e0;
  --grey-8: #f5f5f5;
}

.hotel-booking-summary {
  margin-top: 12px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-8);
  padding: 12px 16px;
  border-radius: 8px;
  gap: 12px;
}

.hotel-booking-summary p:last-of-type {
  color: var(--grey-4);
}

form {
  margin-bottom: 5rem;
}
fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  font-weight: 500;
}

legend {
  display: none;
}
.hotel-title {
  display: flex;
  justify-content: space-between;
}

label {
  padding-bottom: 12px;
}

label:first-of-type {
  margin-top: 20px;
}

input {
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-7);
  font-size: 15px;
  font-family: inter;
  padding: 1rem;
}

main p {
  color: var(--grey-4);
  font-weight: 500;
}
