:root {
  --primary-color: #bbfe71;
  --secondary-color: #0b4fb3;
  /* neutrals */
  --grey-1: #1a1a1a;
  --grey-2: #2e2e2e;
  --grey-3: #4a4a4a;
  --grey-4: #6e6e6e;
  --grey-5: #9a9a9a;
  --grey-6: #c1c1c1;
  --grey-7: #e0e0e0;
  --grey-8: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--grey-1);
}

@media (width >= 992px) {
  .hotel-main-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

header {
  /* grid-column: 2/3; */
  /* grid-row: 2; */
  display: flex;
  flex-wrap: wrap;
  margin: 40px 20px 0 20px;
  padding-bottom: 1.5rem;
}
@media (width >= 992px) {
  header {
    margin: 40px 120px 0 120px;
    padding-bottom: 3rem;
  }
}

.main-title {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

@media (width >= 992px) {
  main {
    margin: 0 120px;
  }
}

h1 {
  font-weight: 900;
  color: #a8bf56;
}

h2 {
  font-size: 34px;
  font-weight: 500;
}
@media (width >= 992px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 600;
}
@media (width >= 992px) {
  h3 {
    font-size: 34px;
  }
}

h4 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 1rem;
}

@media (width >= 992px) {
  h4 {
    font-size: 18px;
  }
}

.card-title {
  font-size: 16px;
  font-weight: 600;
}

.card-address {
  font-size: 12px;
  color: var(--grey-3);
}

.hotels-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
  padding-bottom: 3rem;
}

@media (width >= 992px) {
  .hotel-main-container {
    display: flex;
    flex-direction: row;
  }
}

.hotel-card {
  display: flex;
  flex-direction: column;
  max-width: 42dvw;
}

.card-img {
  width: 42dvw;
  height: 25dvh;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 0.5rem;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.card-rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
  gap: 0.2rem;
}

@media (width >= 992px) {
  .card-rating {
    font-size: 16px;
  }
}

.fa-star {
  color: var(--secondary-color);
}

.hotel-img {
  width: 100%;
  height: 40dvh;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 0.5rem;
}

.hotel-page-body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: var(--secondary-color);
  color: white;
  font-family: inter;
  font-weight: 600;
  width: 100%;
}

.hotel-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.hotel-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.hotel-address p:first-of-type {
  color: var(--grey-4, #6e6e6e);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

.hotel-address p:last-of-type {
  color: var(--grey-3);
  font-size: 20px;
  font-weight: 600;
}

button {
  display: flex;
  padding: 12px 10px;
  z-index: 20;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--primary-color);
  border: none;
  color: var(--grey-2, #2e2e2e);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 2rem;
}

button:hover {
  cursor: pointer;
}

.amenities-container,
.description-container {
  padding-bottom: 2rem;
}

@media (width >= 992px) {
  p {
    font-size: 18px;
  }
}

@media (width >= 992px) {
  .main-info-container {
    min-width: 30dvw;
  }
}

.basic-info-container {
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
}
